<div class="footer" xmlns:cc="http://creativecommons.org/ns#">
    <div class="personal-card">
        <div class="name">
            <span property="cc:attributionName"><span class="prefix">by</span> Sergio Cinos</span>
        </div>
        <div class="links">
            <a href="https://twitter.com/scinos" class="twitter" {{externalLink}}>
                <svg>{% include "../../img/twitter.svg" %}</svg>
                <span>Twitter profile</span>
            </a>
            <a href="https://github.com/scinos" class="github" {{externalLink}}>
                <svg>{% include "../../img/github.svg" %}</svg>
                <span>GitHub profile</span>
            </a>
            <a href="https://www.linkedin.com/in/sergiocinos/" class="linkedin" {{externalLink}}>
                <svg>{% include "../../img/linkedin.svg" %}</svg>
                <span>LinkedIn profile</span>
            </a>
        </div>
    </div>
    <div class="copyright">
        <a rel="cc:attributionURL" href="https://metalfolds.page/">This work</a> is licensed under <a
            href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank"
            rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img
                style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
                alt="Creative Commons logo"><img
                style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
                alt="Creative Commons - Attribution logo"></a>
        <br />
        Built with <a href="https://www.11ty.dev/" {{externalLink}}>{{eleventy.generator}}</a>.
        Source in <a href="https://github.com/scinos/metal-folds-11ty" {{externalLink}}>GitHub</a>.
    </div>
</div>