<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="{{eleventy.generator}}">
  <title>{{ title }}</title>

  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&amp;display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/photoswipe.css" rel="stylesheet">
</head>

<body>
  <header class="navbar">
    <a href="/" class="logo">
      <img src="/img/logo_64.png" alt="Metal Folds logo" />
      <span>Metal folds<span>
    </a>
    <nav>
        <ul>
        {%- for entry in data.navbar %}
          <li{% if entry.url == page.url %} class="active"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
    </nav>
  </header>


  <div class="content">
    {{ content | safe }}
  </div>

  {% include 'snippets/footer.njk' %}

  {%if tags | isModel %}
    <script src="/js/photoswipe.js"></script>
  {%endif%}
</body>

</html>