---
layout: base
---

<h1>{% if collection|length %}{{collection}}: {%endif%}{{title}}</h1>

{{ content | safe }}

{% if officialModel|length %}<a href="{{officialModel | url}} " {{externalLink}}>Official model</a>{%endif%}


{% set height = "3840" if verticalPictures else "2160"%}
{% set width = "2160" if verticalPictures else "3840"%}

<div class="pswp-gallery" id="gallery">
    <a href="{{page.url}}img/scale.jpg" data-pswp-width="{{width}}" data-pswp-height="{{height}}">
        <figure><img src="{{page.url}}img/scale_thumb.webp" loading="lazy"></figure>
    </a>

    {% for i in range(1, pictures.model) -%}
        <a href="{{page.url}}img/model_{{i}}.jpg" data-pswp-width="{{width}}" data-pswp-height="{{height}}">
            <figure><img src="{{page.url}}img/model_{{i}}_thumb.webp" loading="lazy"></figure>
        </a>
    {%- endfor %}

    {% for i in range(1, pictures.detail) -%}
        <a href="{{page.url}}img/detail_{{i}}.jpg" data-pswp-width="{{width}}" data-pswp-height="{{height}}">
            <figure><img src="{{page.url}}img/detail_{{i}}_thumb.webp" loading="lazy"></figure>
        </a>
    {%- endfor %}
</div>



