.images {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem;
}

.pswp-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

figure {
    margin: 1rem;
    position: relative
}

figure figcaption {
    background-color: var(--c-bg-secondary);
    width: 100%;
    text-align: center;

    box-shadow: inset 0 0 0 0 var(--c-text-accent);
    color: var(--c-text-accent);
    transition: .1s ease-in-out;
}

.gallery-entry figure {
    margin: 2rem
}

.gallery-entry figure img {
    width: 300px;
    height: 170px;
    transition: .5s ease-in;
    display: block
}

.gallery-entry figure div{
    position: absolute;
    top: 0;
    opacity: 0;
    width: 300px;
    height: 170px;
    transition: .1s ease-in-out;
}

.gallery-entry figure:hover div {
    filter: blur(10px);
    mix-blend-mode: hard-light;
    display: block;
    opacity: 1;
}


.gallery-entry figure:hover figcaption{
    box-shadow: inset 300px 0 0 0 var(--c-text-accent);
    color: var(--c-bg-secondary);
}