---
permalink: "css/style.css"
---
{% set css %}
    {% include "./vars.css" %}
    {% include "./base.css" %}
    {% include "./navbar.css" %}
    {% include "./gallery.css" %}
    {% include "./footer.css" %}
{% endset %}
{{ css | cssmin | safe }}